API_ID=21696829
API_HASH=c0e23cf3dfa118239951a88bd0f4c6b7
BOT_TOKEN=8130109220:AAGhB4vxQEbRcYYwsijRfENfzAU6Dll4e9k
LOGGER_ID=-1002610492102
API_KEY=NxGBNexGenBots5b2d9a
MONGO_DB_URI=mongodb+srv://satyam:satyam@satyam.jpftt.mongodb.net/?retryWrites=true&w=majority&appName=Satyam
OWNER_ID=7569863273
STRING_SESSION=BAFm0skAs0EYOAXBeArAnTkpzfTYZqdgh7_HMIihaOzQgDH6wjlO3xqoND6jOXoAgbfOhsj4xPHE5OG3iweNpHJ4eC_hqMD-sYe5oTiCISnh3qosvTFSrOiB31qQzZiinCSHg3dqdzgPa9h9V7TebtPmwkTO2IZRXQA2MkjfGon4c_oi6FK_K_6yU3NvCENwBUjBHSCynyTyEi96QyhrYp4UsPMFlRXnvRmwiPuBci37JORYFYJqcH2Jpo9F2wDBeoUjMkpiyjiRvis7if7BaDgT-VQTCoyyOJZWXCCYZzyXMxNaL8MOUnm8l3xO4sCnApKOgFTEmOHDepJJwxjX97S8Dkp36gAAAAFIvk2oAA
